.cart {
  margin: 70px auto auto auto;
  width: 85%;
}
.cartitems {
  display: flex;
  margin: auto;
  height: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}

.cartitems hr {
  height: 1px;
  background: #e2e2e2;
  border: 0;
  margin-top: 10px;
}

.cartitems-name {
  align-items: start;
  padding: 20px 0px;
  color: var(--Default-Body, #190028);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.cart-name-details p {
  /* margin-left: 10px; */
  color: var(--Default-Body, #190028);
  /* Base/Bold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.cart-items-sizes {
  display: flex;
  margin: 5px 0px;
  gap: 2px;
}
.cart-items-sizes p {
  color: var(--Default-Body, #190028);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding-right: 8px;
}
.cart-items-sizes div {
  padding: 4px 8px;
  background: var(--Foundation-Base-B20, #f6f5f6);
  border: none;
  cursor: pointer;
  color: var(--Default-Body, #190028);
  font-family: Inter;
  font-size: 7px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.cart-items-sizes-text {
  font-size: 18px;
}
.cartitems-left {
  flex: 2;
  padding-right: 24px;
  /* margin-right: 48px; */
}

.cartitems-format-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 20px 0px;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
}

.cartitems-format {
  font-size: 17px;
  font-weight: 500;
}

.carticon-product-icon {
  width: 187px;
  height: 204px;
  padding-right: 20px;
}
.cart-items-number {
  text-align: right;
}
.cartitems-decrease,
.cartitems-increase {
  width: 40px;
  height: 40px;
  border: 2px solid #ebebeb;
  background: #fff;
  /* margin: 0 2px; */
}
.cartitems-quantity {
  width: 40px;
  height: 40px;
  background: #fff;
  /* margin: 0 2px; */
  border: none;
}

.cartitems-remove {
  color: var(--Default-Body, #190028);
  text-align: right;
  margin-top: 10px;
  font-size: 11px;
  font-weight: 400;
  line-height: 120%;
  cursor: pointer;
}
.cart-items-mobile {
  display: none;
}
.cartitems-down {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: auto;
  /* margin-right: 20px; */
  padding: 16px;
  background: var(--Foundation-Base-B20, #f6f5f6);
}
.cartitemstotal {
  text-align: right;
}

.cartitems-total {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cartitems-total h1 {
  color: var(--Default-Body, #190028);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.cartitems-total-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.cartitems-total-item p {
  color: var(--Default-Body, #190028);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.cartitems-total-item h3 {
  color: var(--Default-Body, #190028);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.cartitems-total button {
  height: 30px;
  outline: none;
  border: none;
  background: #9c0001;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.cartitems-promo {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.cartitems-promobox {
  flex: 1;
  background: #eaeaea;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.cartitems-promobox input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  height: 40px;
  width: 100%;
}

.cartitems-promobox-button {
  padding-left: 10px;
}

.cartitems-promobox-button button {
  height: 40px;
  font-size: 14px;
  cursor: pointer;
  background: #9c0001;
  color: var(--Foundation-Secondary-S50, #ffe8f1);
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .cart {
    margin-top: 110px;
  }
  .hrmobile {
    display: none;
  }
  .cartitems {
    flex-direction: column;
  }
  .carticon-product-icon {
    width: 100px;
    height: 109.091px;
  }

  .cartitemstotal,
  .cartitems-remove,
  .cart-name-details,
  .cart-items-number {
    display: none;
  }
  .cart-items-mobile {
    display: flex;
    flex-direction: column;
  }
  .cart-mobile-details {
    display: flex;
    flex-direction: column;
  }
  .cart-mobile-bottom {
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    width: 100%;
  }
  .cart-items-mobile-number {
    display: flex;
    flex-direction: row;
  }
  .cartpricemobile {
    color: var(--Default-Body, #190028);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  .cartmobiletotal {
    display: flex;
    text-align: right;
    gap: 5px;
  }
  .cartmobile-remove {
    display: flex;
    text-align: right;
  }
  .cartitems-down {
    width: 100%;
  }
}
