.productimage {
  display: flex;
  height: 372px;
  margin: 75px auto 0 auto;
  justify-content: center;
  width: 85%;
}

.productdisplay-img-left {
  flex: 2;
  overflow: hidden;
  padding-right: 8px;
}

.productdisplay-img-right {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.productdisplay-main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productdisplay-img-right img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .productimage {
    flex-direction: column;
    gap: 20px;
    margin: 110px auto 0 auto;
    height: 500px;
  }
  .productdisplay-img-left {
    width: 100%;
  }
  .productdisplay-img-left img {
    width: 100%;
    height: 20%vh;
  }

  .productdisplay-main-img {
    width: 100%;
  }
  .productdisplay-img-right {
    width: 100%;
    overflow: hidden;
  }
  .productdisplay-img-right img {
    width: 100%;
  }
}
