.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 50px;
  padding: 20px; */
  justify-content: space-between;
  width: 85%;
  margin: auto;
  align-items: flex-start;
}

.footer-address {
  /* text-align: left;
  width: auto;
  max-width: 100%;
  margin-right: auto; */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-address p {
  color: var(--Default-Body, #190028);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.footer-address .heading {
  display: none;
}
.footer-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.footer-shops,
.footer-brands,
.footer-company {
  flex: 1;
  padding: 0;
}

.footer-shops ul,
.footer-brands ul,
.footer-company ul,
.footer-social ul {
  list-style: none;
  padding: 0;
}

.footer-shops .heading,
.footer-brands .heading,
.footer-company .heading,
.footer-social .heading {
  color: var(--Default-Body, #190028);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 10px;
}
.footer-shops li,
.footer-brands li,
.footer-company li,
.footer-social li {
  color: var(--Default-Body, #190028);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  cursor: pointer;
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    order: 1;
    gap: 16px;
  }

  .footer-shops .heading,
  .footer-brands .heading,
  .footer-company .heading,
  .footer-social .heading {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
  }
  .footer-shops li,
  .footer-brands li,
  .footer-company li,
  .footer-social li {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-top: 2px;
  }
  .footer-address {
    text-align: center;
    margin: auto;
    order: 2;
  }
  .footer-address .heading {
    display: contents;
    color: var(--Default-Body, #190028);
    font-size: 12px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
  }
  .footer-address p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}
